<mat-table [dataSource]="members" class="mat-elevation-z8">
  <ng-container matColumnDef="clanTag">
    <mat-header-cell *matHeaderCellDef> Team </mat-header-cell>
    <mat-cell *matCellDef="let element">{{element.clanTag ? element.clanTag + '-' + element.clanName: element.clanName}}
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
    <mat-cell *matCellDef="let element">
      <img width="32" height="32"
        src="https://cdn.cloudflare.steamstatic.com/steamcommunity/public/images/avatars/f4/f45d681eef6d321182d8a4fbb3688d7fdafe45bc_full.jpg" />
      {{element.name}}
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="assists">
    <mat-header-cell *matHeaderCellDef> Assists </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.assists}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="deaths">
    <mat-header-cell *matHeaderCellDef> Deaths </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.deaths}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="headShotKills">
    <mat-header-cell *matHeaderCellDef> Head Shot Kills </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.headShotKills}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="killReward">
    <mat-header-cell *matHeaderCellDef> Kill Reward </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.killReward}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="kills">
    <mat-header-cell *matHeaderCellDef> Kills </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.kills}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="liveTime">
    <mat-header-cell *matHeaderCellDef> Live Time </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.liveTime}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="moneySaved">
    <mat-header-cell *matHeaderCellDef> Money Saved </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.moneySaved}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="objective">
    <mat-header-cell *matHeaderCellDef> Objective </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.objective}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="cashSpendTotal">
    <mat-header-cell *matHeaderCellDef> Total Cash Spend </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.cashSpendTotal}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="mvps">
    <mat-header-cell *matHeaderCellDef> MVPS </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.mvps}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="score">
    <mat-header-cell *matHeaderCellDef> Score </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.score}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="threeKills">
    <mat-header-cell *matHeaderCellDef> Three Kills </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.threeKills}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="fourKills">
    <mat-header-cell *matHeaderCellDef> Four Kills </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.fourKills}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="fiveKills">
    <mat-header-cell *matHeaderCellDef> Five Kills </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.fiveKills}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="flashedEnemies">
    <mat-header-cell *matHeaderCellDef> Enemies Flashed </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.flashedEnemies}} </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>