<mat-table matSort [dataSource]="dataSource" [style.height]="height"
  class="{{elevation ? 'container mat-elevation-z1': 'container mat-elevation-z0'}}" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
  <ng-container matColumnDef="clanTag">
    <mat-header-cell *matHeaderCellDef> Team </mat-header-cell>
    <mat-cell *matCellDef="let element">{{element.clanTag ? element.clanTag + '-' + element.clanName: element.clanName}}
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
    <mat-cell *matCellDef="let element">
      <img style="padding-right: 10px;" width="32" height="32" src="{{'avatar/' + element.steamId}}" />
      {{element.name}}
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="assists">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Assists </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.assists}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="deaths">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Deaths </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.deaths}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="headShotKills">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Head Shot Kills </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.headShotKills}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="killReward">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Kill Reward </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.killReward}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="kills">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Kills </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.kills}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="liveTime">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Live Time </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.liveTime}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="moneySaved">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Money Saved </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.moneySaved}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="objective">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Objective </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.objective}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="cashSpendTotal">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Total Cash Spend </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.cashSpendTotal}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="mvps">
    <mat-header-cell *matHeaderCellDef mat-sort-header> MVPS </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.mvps}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="score">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Score </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.score}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="threeKills">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Three Kills </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.threeKills}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="fourKills">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Four Kills </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.fourKills}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="fiveKills">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Five Kills </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.fiveKills}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="flashedEnemies">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Enemies Flashed </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.flashedEnemies}} </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>