:host {
    height: 100%;
}

.score {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 68px;
    color: darkslategrey;
    padding: 10px;
}

.clan {
    margin-top: 20px;
    padding: 10px;
    font-size: 58px;
}